<div id="a"><h1>Bạn có muốn xóa player sau không ?</h1>
<div  class="div-size">
  <table class="table-size">
    <tr>
      <td class="td-font td-size">Name</td>
      <td>{{player.name}}</td>
    </tr>
    <tr>
      <td class="td-font td-size">CHAMP</td>
      <td>{{player.champ}}</td>
    </tr>

    <tr>
      <td class="td-font td-size">KDA</td>
      <td>{{player.kda}}</td>
    </tr>
    <tr>
      <td class="td-font td-size">DES</td>
      <td>{{player.des}}</td>
    </tr>
  </table>


</div>
  <label style="margin-left: 10%">
<button class="btn btn-danger" (click)="deleteThisPlayer()">Xoá</button>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <button  class="btn btn-success" routerLink="">Thoát</button>
  </label>
</div>

