<div id="a"><h1>Tạo mới player</h1>
<h2 style="color: brown">{{message}}</h2>
<form [formGroup]=" playerForm" >
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" formControlName="name" placeholder="Name">
    <div *ngIf="name.invalid && (name.dirty || name.touched)"
         class="alert alert-danger">
      <div [hidden]="!name.errors.required">
        Name cần phải có
      </div>
    </div>
    <div class="form-group">
      <label>CHAMP</label>
      <input type="text" class="form-control" formControlName="champ"  placeholder="champ">
      <div *ngIf="champ.invalid && (champ.dirty || champ.touched)"
           class="alert alert-danger">
        <div [hidden]="!champ.errors.required">
          Champ không được để trống!
        </div>
      </div>

    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">KDA</label>
      <input type="text" class="form-control" formControlName="kda" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="kda">
      <div *ngIf="kda.invalid && (kda.dirty || kda.touched)"
           class="alert alert-danger">
        <div *ngIf="kda.errors.required">
          KDA không được để trống!
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>DES</label>
      <input type="text" class="form-control" formControlName="des"  placeholder="des">


    </div>
  </div>
  <button type="submit" [disabled]="playerForm.invalid" class="btn btn-primary" (click)="submit()">Submit</button>
  <button  class="btn btn-success" routerLink="">Thoat</button>
</form>
</div>
