<div id="a">
  <h1>Thông tin sách</h1>
  <br>
  <div class="div-size">
    <table class="table-size">
      <tr>
        <th class="td-font td-size">Tiêu đề:</th>
        <td>{{book.title}}</td>
      </tr>
      <tr>
        <th class="td-size td-font">Tác giả:</th>
        <td>{{book.author}}</td>
      </tr>
      <tr>
        <th class="td-font">Mô tả:</th>
        <td>{{book.description}}</td>
      </tr>
    </table>
    <br>
    <button class="btn btn-success" routerLink="">Thoát</button>
  </div>
</div>
