<div id="a">
  <h1>Thông tin sách</h1>
  <br>
  <div class="div-size">
    <table class="table-size">
      <tr>
        <th class="td-font td-size">Champ</th>
        <td>{{player.champ}}</td>
      </tr>
      <tr>
        <th class="td-size td-font">KDA</th>
        <td>{{player.kda}}</td>
      </tr>
      <tr>
        <th class="td-font">DES</th>
        <td>{{player.des}}</td>
      </tr>
    </table>
    <br>
    <button class="btn btn-success" routerLink="">Thoát</button>
  </div>
</div>
